<div ng-controller="RegisterController" style="background-image: url(../img/Hero-blue.jpg);">
<br>
<br>
<br>
<div class="row">
    <div class="col m7 l7"></div>
    <div class="col s12 m4 l4">
        <div class="card">
            <div class="card-content">
                <h3>Registieren</h3>
                <h5>phonoRight. Die Elite im Musikbusiness.</h5>
                <br>
                <br>
                <form>
                    <div class="center">
                        <button class="btn fb" type="submit">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            &nbsp;&nbsp;Anmelden mit Facebook</button>
                    </div>
                    <br>
                    <br>
                    <div class="center">
                        <div class="lines"></div>
                        <span>&nbsp;oder&nbsp;</span>
                        <div class="lines"></div>
                    </div>
                    <br>
                    <br>

                    <input placeholder="&nbsp;&nbsp;Username" type="text" class="register-input">

                    <input placeholder="&nbsp;&nbsp;E-Mail" type="email" class="register-input">

                    <input placeholder="&nbsp;&nbsp;Passwort" type="password" class="register-input">

                    <button class="btn pr">Konto erstellen</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col m1 l1"></div>
    </div>
    <br>
    <br>
    <br>
</div>